# Analysis of system resources

This was computational expensive to produce

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#df = pd.read_csv('termination_data/older_data/raw_termination_data_three.csv')
df = pd.read_csv('AnalysisData/simulation_data_1.csv')
df.head(10)

,total_time_sec,cpu_time_user_sec,cpu_time_system_sec,memory_usage_current_mb,memory_usage_peak_mb,num_integration_steps,final_time_value,atol,rtol
0,2.097265,0.045903,0.000521,0.082541,0.466757,1326,60.0,1.000000e-08,0.000001
1,2.865538,0.062637,0.000753,0.095976,0.583052,1680,60.0,1.000000e-08,0.000001
2,2.768426,0.060235,0.000684,0.094717,0.572477,1647,60.0,1.000000e-08,0.000001
3,2.620050,0.056664,0.000674,0.090597,0.536329,1539,60.0,1.000000e-08,0.000001
4,2.844191,0.062122,0.000694,0.095251,0.576963,1661,60.0,1.000000e-08,0.000001
5,2.952943,0.064080,0.000777,0.096968,0.591383,1706,60.0,1.000000e-08,0.000001
6,2.740633,0.060230,0.000704,0.068588,0.548721,1656,60.0,1.000000e-08,0.000001
7,2.509520,0.055872,0.000551,0.064697,0.514481,1554,60.0,1.000000e-08,0.000001
8,2.640244,0.059226,0.000504,0.067673,0.541031,1632,60.0,1.000000e-08,0.000001
9,2.815063,0.063441,0.000520,0.072136,0.578537,1749,60.0,1.000000e-08,0.000001

In [4]:
df.describe()

,total_time_sec,cpu_time_user_sec,cpu_time_system_sec,memory_usage_current_mb,memory_usage_peak_mb,num_integration_steps,final_time_value,atol,rtol
count,1440.000000,1440.000000,1440.000000,1440.000000,1440.000000,1440.000000,1440.0,1.440000e+03,1.440000e+03
mean,1.979012,0.045520,0.000190,0.054742,0.425199,1278.984028,60.0,1.000000e-08,1.000000e-06
std,0.456110,0.009785,0.000121,0.009917,0.083160,252.456293,0.0,1.654936e-24,2.118318e-22
min,0.943363,0.022200,0.000062,0.033783,0.252251,757.000000,60.0,1.000000e-08,1.000000e-06
25%,1.590853,0.036936,0.000118,0.045439,0.345955,1039.000000,60.0,1.000000e-08,1.000000e-06
50%,1.818002,0.041799,0.000156,0.048046,0.368462,1105.000000,60.0,1.000000e-08,1.000000e-06
75%,2.366440,0.054750,0.000211,0.063309,0.499413,1505.500000,60.0,1.000000e-08,1.000000e-06
max,3.979292,0.067468,0.000902,0.096968,0.595741,1796.000000,60.0,1.000000e-08,1.000000e-06