# Analysis of system resources

This was computational expensive to produce

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# df = pd.read_csv('../AnalysisData/simulation_data_simple_1.csv')
df = pd.read_csv('../AnalysisData/simulation_data_compound_1.csv')
df.head(10)

,total_time_sec,cpu_time_user_sec,cpu_time_system_sec,memory_usage_current_mb,memory_usage_peak_mb,num_integration_steps,final_time_value,atol,rtol
0,1.272935,0.028734,0.000187,0.033783,0.252251,757,60.0,1.000000e-08,0.000001
1,1.604960,0.036074,0.000220,0.044083,0.337410,1013,60.0,1.000000e-08,0.000001
2,1.753306,0.038967,0.000268,0.043358,0.334709,1006,60.0,1.000000e-08,0.000001
3,1.732636,0.038436,0.000271,0.043510,0.336540,1012,60.0,1.000000e-08,0.000001
4,1.717934,0.038433,0.000248,0.043167,0.333656,1003,60.0,1.000000e-08,0.000001
5,1.712199,0.038125,0.000238,0.042961,0.332054,998,60.0,1.000000e-08,0.000001
6,1.888925,0.041779,0.000292,0.045242,0.354141,1068,60.0,1.000000e-08,0.000001
7,1.799358,0.039609,0.000311,0.043144,0.336533,1013,60.0,1.000000e-08,0.000001
8,1.837235,0.040166,0.000322,0.044174,0.345184,1040,60.0,1.000000e-08,0.000001
9,1.747746,0.038753,0.000302,0.043564,0.340042,1024,60.0,1.000000e-08,0.000001

In [5]:
df.describe()

,total_time_sec,cpu_time_user_sec,cpu_time_system_sec,memory_usage_current_mb,memory_usage_peak_mb,num_integration_steps,final_time_value,atol,rtol
count,720.000000,720.000000,720.000000,720.000000,720.000000,720.000000,720.0,7.200000e+02,7.200000e+02
mean,1.685449,0.038660,0.000171,0.045429,0.345808,1037.963889,60.0,1.000000e-08,1.000000e-06
std,0.157576,0.003008,0.000131,0.001640,0.013646,41.972755,0.0,1.655511e-24,2.119054e-22
min,0.943938,0.022022,0.000055,0.033783,0.252251,757.000000,60.0,1.000000e-08,1.000000e-06
25%,1.585984,0.036967,0.000101,0.044422,0.337641,1014.000000,60.0,1.000000e-08,1.000000e-06
50%,1.677428,0.038704,0.000127,0.045483,0.345974,1039.000000,60.0,1.000000e-08,1.000000e-06
75%,1.786812,0.040829,0.000165,0.046776,0.357155,1073.000000,60.0,1.000000e-08,1.000000e-06
max,2.214589,0.045320,0.000879,0.048836,0.375740,1128.000000,60.0,1.000000e-08,1.000000e-06